{
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env",{
          "modules": false
        }
        ]
      ]
    }
  },
  "presets": [
    ["@babel/env", {
      "corejs": 3.9,
      "useBuiltIns": "usage",
      "targets": {
        "node": "current",
        "browsers": [
          ">0.25%",
          "not ie 11",
          "not op_mini all"
        ]
      },
      "modules": false
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-modules-commonjs"
  ]
}
