{
  "presets": [
    ["@babel/env", {
      "corejs": 3.9,
      "useBuiltIns": "usage",
      "targets": {
        "browsers": [
          ">0.25%",
          "not ie 11",
          "not op_mini all"
        ]
      },
      "modules": false
    }]
  ],
}
